html,body,#app{
    height: 100%;
    margin:0;
    padding:0;
    min-width:1366px

}
.el-breadcrumb{
    margin-bottom:20px ;
}
.el-table{
    margin-top: 20px;
}
.el-pagination{
    margin-top: 30px;
}
.el-steps{
margin:15px 0
}
.el-step_title{
    font-size: 13px;
}
.quill-editor{
    min-height: 300px !important;
}